# OS e IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Python
*.py
*.pyc
__pycache__/

# HTTrack artifacts
hts-cache/
hts-log.txt
cookies.txt
*.gif

# Node
node_modules/
.env
.env.local

# Vercel
.vercel/
